<B> About this Dataset:</b> Netflix is one of the most popular media and video streaming platforms. <br>They have over 8000 movies or tv shows available on their platform, as of mid-2021, they have over 200M Subscribers globally.<br> This tabular dataset consists of listings of all the movies and tv shows available on Netflix, along with details such as - cast, directors, ratings, release year, duration, etc.

# Used Pandas Methods and atttributes:

| Methods/Functions            | Description/Usage                          |
|------------------------------|--------------------------------------------|
| `head()`, `tail()`            | Viewing the first and last rows of a DataFrame |
| `shape`, `size`, `columns`    | Checking DataFrame structure               |
| `duplicate()`, `isnull()`, `dropna()` | Handling duplicates and missing data |
| Creating New Columns          | Adding new calculated columns              |
| Creating New DataFrame        | Initializing a new DataFrame               |
| Filtering (Single Column), `isin()` | Filtering data based on specific conditions |
| `str.contains()`, `str.split()` | String operations within DataFrames       |
| `dtypes`, `info()`            | Checking data types and general information |
| `value_counts()`, `unique()`, `nunique()` | Counting unique values in columns |
| `to_datetime()`, `dt.year.value_counts()` | Handling and analyzing datetime data |
| `groupby()`                   | Grouping data for aggregation              |
| `countplot()`                 | Creating count plots with Seaborn          |
| `max()`, `min()`, `mean()`    | Calculating statistical summaries          |
| Filtering (Multiple Columns)  | Applying filters across multiple columns   |
| Filtering with `And`, `OR`    | Combining filters using logical operators  |
| Seaborn - Bar Graphs          | Visualizing data with bar graphs           |

### Task 1: 
**Is there any Duplicate Record in this dataset?**  
If yes, then remove the duplicate records.

### Task 2: 
**Is there any Null Value present in any column?**  
Show with a Heat-map.

---

### Q.1:
**For 'House of Cards', what is the Show Id and Who is the Director of this show?**

### Q.2:
**In which year highest number of the TV Shows & Movies were released? Show with Bar Graph.**

### Q3: 
**How many Movies & TV Shows are in the dataset?**  
Show with a Bar Graph.

### Q4: 
**Show all the Movies that were released in the year 2000.**

### Q5: 
**Show only the Titles of all TV Shows that were released in India only.**

### Q6: 
**Show the Top 10 Directors who gave the highest number of TV Shows & Movies to Netflix.**

### Q7: 
**Show all the Records where "Category is Movie and Type is Comedies" or "Country is United Kingdom".**

### Q8: 
**In how many movies/shows was Tom Cruise cast?**

### Q9: 
**What are the different Ratings defined by Netflix?**

#### Q9.1: 
**How many Movies got the "TV-14" rating, in Canada?**

#### Q9.2: 
**How many TV Shows got the 'R' rating, after the year 2018?**

### Q10: 
**What is the maximum duration of a Movie/Show on Netflix?**

### Q11: 
**Which individual country has the Highest No. of TV Shows?**


### Q12: 
**How can we sort the dataset by Year?**

### Q13: 
**Find all the instances where:**
- Category is 'Movie' and Type is 'Dramas'
- Or Category is 'TV Show' & Type is 'Kids' TV'

## Reading the data set

In [ ]:
import pandas as pd

## Exploring the dataset:

In [ ]:
# Shape

In [ ]:
# info

In [ ]:
# Size

In [ ]:
# Show the columns names

In [ ]:
# Show the columns types:

In [ ]:
# Show the First 5 Rows

In [ ]:
# Show a random smaple of 5

### Task 1: 
**Is there any Duplicate Record in this dataset?**  
If yes, then remove the duplicate records.

In [ ]:
# No. of duplictes

In [ ]:
# Show the duplicated Values

In [ ]:
# Drop The Duolicates

In [ ]:
# show the data after deleting the dupolicates

### Task 2: 
**Is there any Null Value present in any column?**

In [ ]:
# use .isnull() method.


### Q3: 
**How many Movies & TV Shows are in the dataset?**

In [ ]:
# use Value counts


### Q.1:
**For 'House of Cards', what is the Show Id and Who is the Director of this show?**

In [ ]:
# Mehtod 01

In [ ]:
# Method 02

In [ ]:
# Method 03

### Q.2:
**In which year highest number of the TV Shows & Movies were released? Show with Bar Graph.**

### Q3: 
**How many Movies & TV Shows are in the dataset?**  
Show with a Pie Chart.

### Q4: 
**Show all the Movies that were released in the year 2000.**

### Q5: 
**Show only the Titles of all TV Shows that were released in United States only.**

### Q6: 
**Show the Top 10 Directors who gave the highest number of TV Shows & Movies to Netflix.**

### Q7: 
**Show all the Records where "Category is Movie and Type is Comedies" or "Country is United Kingdom".**

### Q8: 
**In how many movies/shows was Tom Cruise cast?**

### Q9: 
**What are the different Ratings defined by Netflix?**


#### Q9.1: 
**How many Movies got the "TV-14" rating, in Canada?**


#### Q9.2: 
**How many TV Shows got the 'R' rating, after the year 2018?**



### Q10: 
**What is the maximum duration of a Movie/Show on Netflix?**


### Q11: 
**Which individual country has the Highest No. of TV Shows?**


### Q12: 

**How can we sort the dataset by Year?**



### Q13: 
**Find all the instances where:**
- Category is 'Movie' and Type is 'Dramas'
- Or Category is 'TV Show' & Type is 'Kids' TV'

# `You've made incredible progress.`
# `Keep up the great work and believe in yourself!`